<root>
	<target>E:\Chn_Futures_Trading_System\Execution\Position_List_DEBEN_HUATAI\</target>
	<current>E:\Chn_Futures_Trading_System\Execution\Position_List_DEBEN_HUATAI\</current>
	<grouplist>E:\Chn_Futures_Trading_System\BaseData\TCF_Recent_Data\</grouplist>
	<abandonlist>E:\Chn_Futures_Trading_System\BaseData\TCF_Recent_Data\</abandonlist>
	<specialist>E:\Chn_Futures_Trading_System\BaseData\TCF_Recent_Data\</specialist>
</root>